# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Data
data/*
!data/warehouse/
!data/.gitkeep
data/warehouse/bronze/games/*
!data/warehouse/bronze/games/.gitkeep
data/warehouse/bronze/calendar/*
!data/warehouse/bronze/calendar/.gitkeep
data/warehouse/silver/*
!data/warehouse/silver/.gitkeep
data/warehouse/gold/*
!data/warehouse/gold/.gitkeep

# IDE
.vscode/
.idea/
