# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Data
data/*
!data/warehouse/
!data/.gitkeep
!data/warehouse/bronze/
!data/warehouse/silver/
!data/warehouse/gold/

# IDE
.vscode/
.idea/
